<div class="preloader">
    <div class="reverse-spinner"></div>
</div>
<!-- Document Wrapper
    ============================================= -->
{{> navbar_main}}

<section class="container reg">
    <div class="card">
        <div class="card-header reg-card-header">
            <h6 class="reg-title">Participant Registration</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
             <table class="table table-striped table-bordered dataTable" style="width:100%" id="mytable">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Gender</th>
                    <th>Location</th>
                    <th>Level</th>
                    <th>Info</th>
                    <th>GitURL</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                   {{#each results}}
                  <tr>
                    <td>{{ id }}</td>
                    <td>{{ name }}</td>
                    <td>{{ email }}</td>
                    <td>{{ phone_no }}</td>
                    <td>{{ gender }}</td>
                    <td>{{ location }}</td>
                    <td>{{ level }}</td>
                    <td>{{ info }}</td>
                    <td>{{ giturl }}</td>
                    <td>{{ description }}</td>
                  </tr>
                  {{/each}}
                </tbody>
            </table>
              </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer--bar ftr-a">
    <!-- Copyrights
    ============================================= -->
    <div >
        <div class="row">
            <div class="col-12 col-md-12 col-md-12 text--center footer--copyright">
                <div class="copyright">
                    <a href="https://www.hyperspace.africa">hyperspace</a> <br />
                    <span>© 2021</span>
                </div>
            </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .footer-copyright end -->
</footer>

<script >
  $(document).ready(function() {
    $('#mytable').DataTable();
} );
</script>

